.user-cabinet-header {
    font-size: 20px;
}

.site-header{
  border-bottom: 2px solid #26a69a;
  padding: 25px 0;
}

.site-title {
  font-size: 24px;
  margin: 0;
}

.modal-wrap {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0, .5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.modal-project {
  position: relative;
  width: 250px;
  /*height: 350px;*/
  border: 1px solid #26a69a;
  border-radius: 12px;
  box-shadow: 1px 1px 10px #464646;
  padding: 10px;
  background: white;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.modal-project-close {
  position: absolute;
  right: -20px;
  top: -20px;
}

.form-slider {
  width: 700px;
  height: 350px;
  /*background: bisque;*/
  margin-left: 0;
  transition: all ease 1s;
}

.left-50, .right-50 {
  width: 50%;
  float: left;
  /*background: red;*/
  min-height: 50px;
  padding: 10px;
}

.right-50 {
  /*background: blue;*/
  min-height: 50px;
  max-height: 430px;
  overflow-y: scroll;
}

.read-rules, .read-rules-back {
  cursor: pointer;
}

.sing-up-modal {
  width: 370px;
}

.form-slider-wrapper {
  overflow: hidden;
}
